DB_HOST=ep-soft-fog-b4f8lj1i-pooler.c-6.us-east-2.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_ZyvdHP2sI1JC

SESSION_SECRET=1542409381662949376

DISCORD_CLIENT_ID=1542409381662949376
DISCORD_CLIENT_SECRET=M2_h5k7PSgWNDNRGM_lc_xgm4kveBTHM
DISCORD_REDIRECT_URI=https://TU-DOMINIO-DE-VERCEL.vercel.app/paper-rex/discord/callback

PRIVATE_PASSWORD=liz
VISTAS_PASSWORD=Choquehuanca1?
PORT=3000
